@{
    ViewBag.Title = "Component Configuration Database";
}
<div class="alert alert-success fade in">
    <h3>Component Configuration Database Created!</h3>
    <br />
    <p>
        Ultimus Component Configuration Database has been created successfully.
    </p>
    <br />
</div>
