@{
    ViewBag.Title = "Component Configuration Database";
}

<div class="alert alert-warning fade in">
    <h3>Component Configuration Database not has Updates!</h3>
    <br />
    <p>
Component Configuration Database is outdated but it has not pending migrations configurated.
    </p>
    <br />
</div>

