@{
    ViewBag.Title = "Component Configuration Database";
}

<div class="alert alert-success fade in">
    <h3>Component Configuration Database Updated!</h3>
    <br />
    <p>
        Ultimus Component Configuration Database has been updated successfully.
    </p>
    <br />
</div>

